<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        Supervillain: 
          <span>{{villain.supervillainName}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        Name:
          <span>{{villain.realName}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <img class="image-card" mat-card-image src="{{villain.imageUrl}}" alt="Photo of a villain">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="basic">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-card-actions>
  </mat-card>
  
