.example-card {
    max-width: 400px;
    margin: 20px;
    border-radius: 6px;
    border: 0.5px solid rgb(67, 7, 7);
    background-color: rgb(83, 85, 86);
  }
  
  .example-header-image {
    background-image: url('https://i.kym-cdn.com/photos/images/facebook/001/498/696/c09.png');
    background-size: cover;
  }
  
  .image-card {
    height: auto;
    aspect-ratio: 1/1;
  }