<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>public</mat-icon>
    </button>
    <span>Super Villains</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">
      <mat-icon>add_to_photos</mat-icon>
      Add Super Villain
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>playlist_add</mat-icon>
      Add Super Power
    </button>
 </mat-toolbar>

 
